<div class="bg-info d-flex justify-content-around align-items-center p-3 rounded shadow">
    <h2 class="text-white">Bienvenido <%=usuario%></h2>
    <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
</div>
